<%- include('../partials/websiteHeader', { title: "Jindal Trading Co."}) %>

<%- include('../component/website/navbar') %>


 <!-- Page Header Start -->
<%- include('../component/website/page-header', { headerName: "Products", pageName: "Products" }) %>
<!-- Page Header End -->


<!-- Our Product Start -->
<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-secondary text-uppercase">Our Products</h6>
      <h1 class="mb-5">Explore Our Products</h1>
    </div>
    <div class="row g-4">
      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-coal.webp" alt="Coal Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">COAL</h4>
          <p>Supplying premium coal for energy, steel, and specialized industry needs.</p>
          <a class="btn-slide mt-2" href="/product/coal"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-coke.jpg" alt="Coke Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">COKE</h4>
          <p>Supplying premium coke for steelmaking and diverse industrial applications.</p>
          <a class="btn-slide mt-2" href="/product/coke"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-charcoal.jpg" alt="Charcoal Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">CHARCOAL</h4>
          <p>High-quality charcoal for chemical, metallurgy, and industrial furnace applications.</p>
          <a class="btn-slide mt-2" href="/product/charcoal"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-coaldust.jpg" alt="Coal Dust Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">COAL DUST</h4>
          <p>Consistent coal dust for smooth surfaces in foundry molding applications.</p>
          <a class="btn-slide mt-2" href="/product/coal-dust"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-pigiron.jpg" alt="Pig Iron Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">PIG IRON</h4>
          <p>Premium pig iron for steelmaking, casting, and industrial manufacturing needs.</p>
          <a class="btn-slide mt-2" href="/product/pig-iron"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

      <!-- Product Item Start -->
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img class="img-fluid" src="/website/img/product-ferro-alloys.jpg" alt="Ferro Alloys Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
          </div>
          <h4 class="mb-3">FERRO ALLOYS</h4>
          <p>High-grade ferro alloys for enhancing steel and cast iron properties.</p>
          <a class="btn-slide mt-2" href="/product/ferro-alloys"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
      </div>
      <!-- Product Item End -->

    </div>
  </div>
</div>
<!-- Our Product End -->





<!-- Quote Start -->
<%- include('../component/website/quote') %>
<!-- Quote End -->

<%- include('../partials/websiteFooter') %>