<%- include('../partials/websiteHeader', { title: "Jindal Trading Co."}) %>

<%- include('../component/website/navbar') %>


 <!-- Page Header Start -->
<%- include('../component/website/page-header', { headerName: "Vendors", pageName: "Vendors" }) %>
<!-- Page Header End -->


<!-- Our Vendors Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Vendors</h6>
            <h1 class="mb-5">Explore Our Vendors</h1>
        </div>
        <div class="row g-4">
            <!-- Met Coke Product -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-3">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/website/img/product-coke.jpg" alt="Coke Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
                    </div>
                    <h4 class="mb-3">Met Coke</h4>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-users text-primary fs-3 me-2"></i> 
                            Vendor List
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Narayani Coke Pvt. Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Shree Arihant TradeLinks India Pvt. Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Shree Coke Energy Pvt Ltd</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Bengal Energy Ltd</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Kalyani Steel Limited</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">The Sandur Manganese & Iron Ores Ltd</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Pig Iron Product -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-3">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/website/img/product-pigiron.jpg" alt="Coke Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
                    </div>
                    <h4 class="mb-3">Pig Iron</h4>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-users text-primary fs-3 me-2"></i> 
                            Vendor List
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Tata Metaliks</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Sathavahana Ishpat Ltd</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Vedanta Limited</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Neo Metaliks</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Kajaria Iron and Steel</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Narsingh Ispat Pvt. Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Visa Steels Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Welspun Steel Ltd.</a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <!-- Ferro Alloy Product -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-3">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/website/img/product-ferro-alloys.jpg" alt="Coke Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
                    </div>
                    <h4 class="mb-3">Ferro Alloy</h4>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-users text-primary fs-3 me-2"></i> 
                            Vendor List
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">SKP Merchant Pvt. Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Deepak Ferro Alloys</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Alam Alloys</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Hard Coke Product -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-3">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/website/img/product-coke.jpg" alt="Coke Image" style="max-height: 400px; min-height: 200px; object-fit: cover;" />
                    </div>
                    <h4 class="mb-3">Hard Coke</h4>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-users text-primary fs-3 me-2"></i> 
                            Vendor List
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Basuda Udoyog Ltd</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Jawala Coke Pvt. Ltd.</a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <i class="fas fa-check text-primary me-2"></i>
                            <a href="#">Fogla Enterprises Pvt. Ltd.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Vendors End -->



<!-- Quote Start -->
<%- include('../component/website/quote') %>
<!-- Quote End -->



<%- include('../partials/websiteFooter') %>